.famous-birthdays-container {
  width: 250px;
  border: 1px solid #2A2A2A;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 16px;
}

.famous-birthdays-header {
  text-align: center;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  letter-spacing: 2px;
  font-size: 1.2em;
  font-weight: bold;
}

.famous-birthdays-footer {
  padding: 10px;
  font-size: 12px;
  text-align: right;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.famous-birthdays-content {
  text-align: center;
  padding: 7px;
  font-size: 1em;
}
